<section id="filterable-content">
	<div class="filter-container">
		<div>
			<div>
				<div class="filter-top-row">
					<div>
						<span class="filter dropdown" role="button" tabindex="0" data-filter-type="genre">Genre</span>
						<div></div>
					</div>
					<div>
						<span class="filter dropdown" role="button" tabindex="0" data-filter-type="year">Year</span>
						<div></div>
					</div>
					<div class="filter search">
						<input type="text">
					</div>
				</div>
				<div class="filter-bottom-row">
					<div class="filter poster-type">
						<input type="radio" name="poster-type" value="movie" id="radio-type-movies">
						<label for="radio-type-movies">Movies</label>
					</div>
					<div class="filter poster-type">
						<input type="radio" name="poster-type" value="book" id="radio-type-books">
						<label for="radio-type-books">Books</label>
					</div>
					<div >
						<a role="button" class="filter clear-button">Clear filters</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div class="movie-container">
		<div>
			<!-- Went against the rules here and added/removed DOM elements, because I couldn't figure out how a ul
			could be used without adding elements to it... -->
			<div>
				<ul>
					<% for (var i=0; i < movies.length; i++) {%>
					<div class="movie-block" data-media-type="<%= movies[i].type %>">
						<img src=<%= movies[i].poster %>></img>
						<div class="movie-title"><%= movies[i].title %> <span class="movie-year">(<%= movies[i].year %>)</span></div>
						<div class="movie-genres">Genres: 
							<!-- Not a huge fan of logic embedded in templates like this because it gets messy.  This is 
							basically looping over genres, capitalizing the first letter of each, then joining by commas -->
							<% for (var j=0; j < movies[i].genre.length; j++){%>
								<%= movies[i].genre[j].charAt(0).toUpperCase() + movies[i].genre[j].slice(1) %><%= (movies[i].genre.length - 1) == j ? "" : "," %> 
							<% } %>
						</div>
					</div>
					<% } %>
				</ul>
			</div>
		</div>
	</div>
</section>
